<h1 id="github-chart-api"><a href="https://github.com/2016rshah/githubchart-api">Github Chart API</a></h1>

<p>Embed your github chart into any HTML you want.</p>

<p>Just put this into your HTML:</p>

<pre><code>&lt;img src=&quot;http://ghchart.rshah.io/2016rshah.svg&quot; alt=&quot;2016rshah&#39;s Github chart&quot; /&gt;</code></pre>

<p>and it'll become: </p>
<div class="figure">
	<img src="http://ghchart.rshah.io/2016rshah.svg" alt="2016rshah&#39;s Github chart" />
	<p class="caption">2016rshah's Github chart</p>
</div>

<h3>See also</h3>
<p>The <a href="https://github.com/2016rshah/githubchart-api">github repo</a></p>
<p>The <a href="http://ghchart.rshah.io">actual site</a></p>
<p>This <a href="https://github.com/akerl/githubchart">ruby gem</a></p>


